name: CI-CD to EC2

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

          - name: Run tests
        env:
          PYTHONPATH: .
        run: pytest


  deploy:
    runs-on: ubuntu-latest
    needs: test    # only deploy if tests pass

    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/expense-tracker-devsecops
            git pull origin main

            # (re)create venv if needed
            python3 -m venv venv || true
            source venv/bin/activate
            pip install -r requirements.txt

            export PORT=5000

            # stop old app (if running)
            pkill -f "python3 app.py" || true

            # start app in background
            nohup python3 app.py > app.log 2>&1 &
